.TodoItem {
    background-color: #fafafa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }

  .TodoItem--complete {
    background-color: #bff9c6;
  }
  
  .TodoItem-p {
    color: #1e1e1f;
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .TodoItem-input {
    width: calc(100% - 120px);
    margin: 2px 0 2px 2px;
    color: #1e1e1f;
    padding: 4px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(32, 35, 41, 0.1);
  }
  